:root {
  --primary-color: #000000;
  --background-color: #ffffff;
  --border-color: #cccccc;
  --title-font: "Arial", "Helvetica", sans-serif;
  --body-font: "Times New Roman", Times, serif;
  width: 210mm;
  height: 297mm;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--body-font);
  background-color: #f5f5f5;
  color: var(--primary-color);
  line-height: 1.5;
  font-size: 11pt;
}

p {
  margin: 0.1cm 0 0.2cm;
  line-height: 1.5;
}

li {
  margin-bottom: 0.15cm;
}

ol {
  padding-left: 1.2em !important;
}

blockquote > :last-child {
  margin-bottom: 0;
}

h2:first-child {
  margin-right: 0.5cm;
}

blockquote {
  border: 1px solid black;
  padding: 0.1in;
  margin-bottom: 0.1in;
  font-style: normal;

  & h3 {
    font-family: var(--body-font);
    text-align: center;
    font-size: 10pt;
  }
}

ol,
ul {
  margin: 0.3cm 0;
}

.paper {
  width: 210mm;
  height: 297mm;
  overflow: hidden;
  margin: 0 auto;
  padding: 0.6in 1in;
  background-color: var(--background-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
  background-image: url(./templates/watermark.png);
}

.doc-title > :first-child {
  font-size: 11pt;
  font-weight: normal;
  text-align: center;
  font-family: var(--title-font);
  margin-bottom: 1cm;
}

h1 {
  font-family: var(--title-font);
  text-align: center;
  font-size: 16pt;
  margin-bottom: 0.3cm;
}

h2 {
  margin-top: 0.5cm;
  font-family: var(--title-font);
  font-weight: bold;
  margin-bottom: 0.1cm;
  padding: 0;
  font-size: 11pt;
}

ul {
  padding-left: 1.5cm;
  margin-bottom: 0.5cm;
}

ol {
  padding-left: 1.5cm;
  margin-bottom: 0.5cm;
}

/* Print styles */
@media print {
  body {
    background-color: white;
  }

  .paper {
    width: 100%;
    height: 100%;
    box-shadow: none;
    margin: 0;
    padding: 1cm;
  }
}

.examiner-line {
  font-family: var(--title-font);
  position: absolute;
  top: 0;
  left: 0;
  width: 7.5cm;
  height: 0.8cm;
  background-color: black;
  transform: translate(-30%, -100%) rotate(-45deg);
  transform-origin: bottom right;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 22px;
  overflow: hidden;
  user-select: none;
}

.paper-info {
  font-family: var(--title-font);
  position: absolute;
  top: 0.3cm;
  left: 0.3cm;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  gap: 0.3cm;
  user-select: none;
}
