<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>DSE Speaking Paper</title>
    <link rel="stylesheet" href="./templates/style.css" />
  </head>
  <body>
    <div class="paper">
      <div class="examiner-line">EXAMINER</div>
      <div class="paper-info">
        <div>
          <div>SAMPLE-DSE</div>
          <div>ENG LANG</div>
        </div>
        <div>
          <div style="font-weight: 400">PAPER 4</div>
          <div>1.1</div>
        </div>
      </div>
      <hgroup class="doc-title">
        <div>
          <div>EXAMIFY HONG KONG</div>
          <div>HONG KONG DIPLOMA OF SECONDARY EDUCATION EXAMINATION SAMPLE</div>
        </div>
        <h1>ENGLISH LANGUAGE&nbsp;&nbsp;PAPER 4</h1>
      </hgroup>
      {{ content | safe }}
    </div>
  </body>
</html>
